h1 {
font-family: 'Arial';
}

h2 {
font-family: 'Arial';
}

p {
font-family: 'Arial';
}

.resizeimage {
   max-width: 700px; 
   min-width: 300px; 
   text-align: center;
}
.resizeimage img { width: 100%; }

.box {
  border: 2px solid #071688;
  border-radius: 10px;
  background-color: #7887f8;
  padding: 2em;
}
